<button ng-click="config.sortBy(columnName)" class="btn btn-block" ng-class="config.columnName === columnName ? 'btn-success' : 'btn-default'">
    {{columnDisplayName}}<br/>
    <span ng-hide="config.columnName !== columnName || !config.reverse" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    <span ng-hide="config.columnName !== columnName || config.reverse" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
</button>