<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Zdjęcie</th>
            <th>
                <column-sorter columnDisplayName="Id" columnName="id" config="state.sortingConfig" />
            </th>
            <th>
                <column-sorter columnDisplayName="Nazwa" columnName="name" config="state.sortingConfig" />
            </th>
            <th>
                <column-sorter columnDisplayName="Cena" columnName="price" config="state.sortingConfig" />
            </th>
            <th>
                <column-sorter columnDisplayName="Opis" columnName="description" config="state.sortingConfig" />
            </th>
            <th>
                <column-sorter columnDisplayName="Producent" columnName="producer" config="state.sortingConfig" />
            </th>
            <th>
                <column-sorter columnDisplayName="Miejsce pochodzenia" columnName="origin" config="state.sortingConfig" />
            </th>
            <th>
                <column-sorter columnDisplayName="Waga" columnName="weight" config="state.sortingConfig" />
            </th>
            <th></th>
        </tr>
        <tr data-ng-repeat="product in state.products | priceGreaterOrEqualThan:state.filterConfig.priceGreaterOrEqualThan | priceLessOrEqualThan:state.filterConfig.priceLessOrEqualThan | orderBy:state.sortingConfig.columnName:state.sortingConfig.reverse track by product.id">
            <td>
                <img ng-src="{{product.image}}" error-src="http://szczerbal-mariusz.pl/wp-content/uploads/2017/08/404_artyku%C5%82.png" alt="{{product.image}}" height="100px" width="100px" />
            </td>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price | addPostFix:'zł'}}</td>
            <td>{{product.description}}</td>
            <td>{{product.producer}}</td>
            <td>{{product.origin}}</td>
            <td>{{product.weight | addPostFix:'kg'}}</td>
            <td style="width:150px">
                <a ng-href="#/editProduct/{{product.id}}">
                    <div type="button" class="btn btn-warning">Edit</div>
                </a>
                <button ng-click="state.deleteProduct(product.id)" type="button" class="btn btn-danger">Usuń</button>
            </td>
        </tr>
    </table>
</div>