<div class="form-group">
    <div class="selectContainer">
        <select class="form-control" ng-model="val">
            <option ng-repeat="option in options" value="{{option.value}}">{{option.name}}</option>
        </select>
    </div>
</div>