<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{pageName}}</h3>
    </div>
    <div class="panel-body">
        <form name="productForm" ng-submit="save(product)" novalidate>
            <div class="form-group" ng-class="(productForm.name.$invalid) ? 'has-error' : 'has-success'">
                <label for="name">Nazwa</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nazwa" ng-model="product.name" ng-minlength="3"
                    ng-maxlength="30" ng-required=true />
                <p ng-show="productForm.name.$error.required" class="help-block">Pole Nazwa jest wymagane.</p>
                <p ng-show="productForm.name.$error.minlength" class="help-block">Pole Nazwa musi zawierać conajmniej 3 znaki.</p>
                <p ng-show="productForm.name.$error.maxlength" class="help-block">Pole Nazwa musi zawierać maksymalnie 30 znaki.</p>
            </div>
            <div class="form-group" ng-class="(productForm.description.$invalid) ? 'has-error' : 'has-success'">
                <label for="description">Opis</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Opis" ng-model="product.description"
                    ng-minlength="3" ng-maxlength="100" ng-required=true />
                <p ng-show="productForm.description.$error.required" class="help-block">Pole Opis jest wymagane.</p>
                <p ng-show="productForm.description.$error.minlength" class="help-block">Pole Opis musi zawierać conajmniej 3 znaki.</p>
                <p ng-show="productForm.description.$error.maxlength" class="help-block">Pole Opis musi zawierać maksymalnie 100 znaki.</p>
            </div>
            <div class="form-group" ng-class="(productForm.producer.$invalid) ? 'has-error' : 'has-success'">
                <label for="producer">Producent</label>
                <input type="text" class="form-control" id="producer" name="producer" placeholder="Producent" ng-model="product.producer"
                    ng-minlength="3" ng-maxlength="20" ng-required=true />
                <p ng-show="productForm.producer.$error.required" class="help-block">Pole Producent jest wymagane.</p>
                <p ng-show="productForm.producer.$error.minlength" class="help-block">Pole Producent musi zawierać conajmniej 3 znaki.</p>
                <p ng-show="productForm.producer.$error.maxlength" class="help-block">Pole Producent musi zawierać maksymalnie 20 znaki.</p>
            </div>
            <div class="form-group" ng-class="(productForm.origin.$invalid) ? 'has-error' : 'has-success'">
                <label for="origin">Miejsce pochodzenia</label>
                <input type="text" class="form-control" id="origin" name="origin" placeholder="Kraj pochodzenia" ng-model="product.origin"
                    ng-minlength="3" ng-maxlength="20" ng-required=true />
                <p ng-show="productForm.origin.$error.required" class="help-block">Pole Miejsce pochodzenia jest wymagane.</p>
                <p ng-show="productForm.origin.$error.minlength" class="help-block">Pole Miejsce pochodzenia musi zawierać conajmniej 3 znaki.</p>
                <p ng-show="productForm.origin.$error.maxlength" class="help-block">Pole Miejsce pochodzenia musi zawierać maksymalnie 20 znaki.</p>
            </div>
            <div class="form-group" ng-class="(productForm.price.$invalid) ? 'has-error' : 'has-success'">
                <label for="price">Cena</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="Cena" ng-model="product.price" ng-required=true
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" />
                <p ng-show="productForm.price.$error.required" class="help-block">Pole Cena jest wymagane.</p>
                <p ng-show="productForm.price.$error.pattern" class="help-block">Pole Cena musi być w formacie liczby naturalnej.</p>
                <p ng-show="productForm.price.$error.min" class="help-block">Pole Cena musi być większe bądź równe zero.</p>
            </div>
            <div class="form-group" ng-class="(productForm.weight.$invalid) ? 'has-error' : 'has-success'">
                <label for="weight">Waga</label>
                <input type="number" class="form-control" id="weight" name="weight" placeholder="Waga" ng-model="product.weight" ng-required=true
                    ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                <p ng-show="productForm.weight.$error.required" class="help-block">Pole Waga jest wymagane.</p>
                <p ng-show="productForm.weight.$error.pattern" class="help-block">Pole Waga musi być w formacie liczby naturalnej.</p>
                <p ng-show="productForm.weight.$error.min" class="help-block">Pole Waga musi być większe bądź równe zero.</p>
            </div>
            <div class="form-group" ng-class="(productForm.image.$invalid) ? 'has-error' : 'has-success'">
                <label for="image">Adres do zdjęcia</label>
                <input type="text" class="form-control" id="image" name="image" placeholder="Adres do zdjęcia" ng-model="product.image" ng-required=true ng-pattern="/^((https|http)?:\/\/.*\.(?:png|jpg|jpeg))$/"
                />
                <p ng-show="productForm.image.$error.required" class="help-block">Pole Zdjęcie jest wymagane.</p>
                <p ng-show="productForm.image.$error.pattern" class="help-block">Pole Zdjęcie musi zawierać adres do zdjęcia z końcówką png, jpg lub jpeg.</p>
            </div>
            <input type="hidden" ng-model="product.id" />
            <button type="submit" class="btn btn-primary" ng-disabled="productForm.$invalid">Zapisz</button>
        </form>
    </div>
</div>