<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Produkty</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <add-product-btn class="col-md-6" />
      <sorting-dropdown options="internalState.sortingConfig.sortOptions" val="internalState.sortingConfig.columnName" class="col-md-6"
      />
    </div>
    <div class="row">
      <div class="form-group col-md-3 col-md-offset-6">
        <label for="greaterThan" class="sr-only"></label>
        <input ng-model="internalState.filterConfig.priceGreaterOrEqualThan" id="greaterThan" class="form-control input-group-lg reg_name" type="number" title="Cena od:" placeholder="Cena od:"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="lessThan" class="sr-only"></label>
        <input ng-model="internalState.filterConfig.priceLessOrEqualThan" id="lessThan" class="form-control input-group-lg reg_name" type="number" title="Cena do:" placeholder="Cena do:" />
      </div>
    </div>
    <br/>
    <products-list state="internalState" />
  </div>
</div>