<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Błąd</h3>
    </div>
    <div class="panel-body">
        Strona o podanym adresie nie istnieje.
    </div>
</div>